
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padre1{
    background-color: rgb(41, 124, 41);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    gap: 5px;
    
}
div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
}
.padre2{
    background-color: rgb(13, 13, 56);
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}
.hijo{
    gap: 12px;
}

    



.padre3{
    background-color: rgb(13, 13, 56);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.hijo4{
    padding-bottom: 50px;
}